asgiref==3.2.10
dj-database-url==0.5.0
-e git+https://github.com/django/django.git@292b3be698ef58aff9c215d62a444f66ead578c3#egg=Django
django-heroku==0.3.1
gunicorn==20.0.4
psycopg2==2.8.6
pytz==2020.1
sqlparse==0.3.1
whitenoise==5.2.0